<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sineware FE Mail Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .list-group-item {
            transition: 0.3s;
        }
        .list-group-item:hover {
            background-color: #f5f5f5;
        }
        
        a {
            display:block;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sineware FE Mail Server</a>
            <button type="button" class="btn btn-dark" onClick="window.location.reload();">Refresh</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group" style="border-right: 1px solid lightgray; height: 80vh;">
                <% for(let i = emails.length-1; i >= 0; i--) { %>
                    <li class="list-group-item" <% if (selectedEmail == i) { %>style="background-color: #f5f5f5;"<% } %>>
                        <a href="/mail/email/<%= i %>">
                            <b><%= emails[i].from.text %></b>
                            <p>
                                To: <%= emails[i].to.text %> <br />
                                <%= new Date(emails[i].date).toLocaleString() %>
                            </p>
                            <p>Subject: <%= emails[i].subject %></p>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="col">
            <% if(!selectedEmail) { %>
                <b>Select an E-Mail!</b>
            <% } else {%>
                <hr />
                <div>
                    <b><%= emails[selectedEmail].from.text %></b>
                            <p>
                                To: <%= emails[selectedEmail].to.text %> <br />
                                <%= new Date(emails[selectedEmail].date).toLocaleString() %>
                            </p>
                            <h4>Subject: <%= emails[selectedEmail].subject %></h4>
                </div>
                <hr />
                <% if(!emails[selectedEmail].html) { %>
                    <div><%- emails[selectedEmail].textAsHtml %></div>
                <% } else { %>
                    <div><%- emails[selectedEmail].html %></div>
                <% } %>
                <hr />
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rawEmailCollapse" aria-expanded="false" aria-controls="rawEmailCollapse">
                      View Raw Email
                    </button>
                </p>
                <div class="collapse" id="rawEmailCollapse">
                    <div class="card card-body">
                        <pre>
<%= emails[selectedEmail].raw %>
                        </pre>
                    </div>
                </div>
            <% }%>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="text-muted"></span>
          <span class="text-muted">Sineware Cloud Services · © 2021 Seshan Ravikumar</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
